#stress-level  {
  display: none;
}

#stress-strategy {
  display: none;
}
#high-stress{
  display: none;
}

#medium-stress{
  display: none;
}

#low-stress{
  display: none;
}

#no-stress{
  display: none;
}
